body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 10px solid black;
  padding: 5px;
  width: 100%;
}

.hour-row p {
  color: black;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: #77dd77;
  color: black;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.row {
  white-space: pre-wrap;
  min-height: 80px;
  border-top: 1px solid white;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.hour-row,
.hour-save {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.hour-row:hover {
  opacity: 0.75;
}

.hour-save:hover {
  opacity: 0.9;
  font-size: 20px;
}
